# --- Server ---
NODE_ENV=development
PORT=3000

# --- Auth ---
JWT_SECRET=f5045b9827cbcdf26edcf076f289fc34d309ae335454fa64c0569223bda96a375d28abb44d306b0d363744899b99479e

ADMIN_INITIAL_EMAIL=admin@kandelacars.et
ADMIN_INITIAL_PASSWORD=IAD7MvWuXwIFyPac0Ig6

# --- CORS ---
ALLOWED_PUBLIC_ORIGIN=
ALLOWED_ADMIN_ORIGIN=

# --- Customer authentication ---
GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

# DATABASE_URL=
# AUTH_PROVIDER_SECRET=
# STORAGE_SERVICE_SECRET=
# SENTRY_DSN=
